.ChatMidFoot{
    // border-top: 1px solid var(--md-color-secondary);
    box-shadow: 0px 1px 2px 0.25px var(--md-color-secondary);
}

// .
.ChatMidFoot_textarea{
    max-height: 10rem;
    padding: 8px;

    border-radius: 10px;
    border: none;

    resize: none;
    overflow-y: auto;

    &:focus{
        outline: none;
    }
}

// 
@media (max-width: 400px) {
    .ChatMidFoot_row{
        display: block;
    }
    // .
    .ChatMidFoot_right{
        margin: 10px 0 0 0;
        text-align: end;
        button{
            padding: 5px 16px;
        }
    }
}