// 
%pos-100{
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

// 
%pos-center{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* ------------------- */

//
.position-rel {
    position: relative;
}

.position-abs {
    position: absolute;
}

.pos-abs-center {
    position: absolute;
    @extend %pos-center;
}

.pos-abs-100 {
    position: absolute;
    @extend %pos-100;
}

.pos-fixed-100{
    position: fixed;
    @extend %pos-100;
}

/* ------------- */
.bottom-100per {
    bottom: 100%;
}

/* ------------- */ 
.top-100per {
    top: 100%;
}

/* ------------- */ 
.left-0 {
    left: 0;
}

.left-50per{
    left: 50%;
}

/* ------------- */ 
.right-0 {
    right: 0;
}

/* ------------- */ 
.x-center {
    left: 50%;
    transform: translateX(-50%);
}

/* -------- Z INDEX ------- */

.z-index-lv5{
    z-index: var(--z-index-lv5);
}
