//
.position-rel {
    position: relative;
}

.position-abs {
    position: absolute;
}

.pos-abs-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.pos-abs-100 {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

/* ------------- */
.bottom-100per {
    bottom: 100%;
}

/* ------------- */ 
.top-100per {
    top: 100%;
}

/* ------------- */ 
.left-0 {
    left: 0;
}

.left-50per{
    left: 50%;
}

/* ------------- */ 
.right-0 {
    right: 0;
}

/* ------------- */ 
.x-center {
    left: 50%;
    transform: translateX(-50%);
}
