.Register{
    padding: 52px 0;
}

.Register_form{
    width: 25rem;
    max-width: 100%;
}
// ..
.Register_input{
    margin: 1rem 0;

    .InputNotValid_placeholder {
        background-color: var(--md-bg-primary);
    }
}

.Register_file{
    width: 15rem;
    height: 15rem;
    max-width: 100%;
}

// 
@media (max-width: 26rem) {
    .Register{
        padding: 0 0;
    }
}