.InputPass{
    position: relative;
}

//
.InputPass_eye{
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
}
//
.InputPass_eye-contain{
    padding: 0;
    cursor: pointer;
}